.bigheading-lasanga,
.heading-lasanga,
.lasagna,
.button,
p {
    font-family: Arial, Helvetica, sans-serif;
}

.bigheading-lasanga,
.heading-lasanga {
    text-decoration: underline;
}

.bigheading-lasanga {
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

.heading-lasanga {
    font-size: large;
    font-weight: bold;
}

.lasagna {
    color: orange;
    background: orangered;
}

.button {
    color: white;
    background-color: yellow;
}